.header-top {
    background-color: #523636;
    color: white;
    width: 100%;
}

.header__top, .header__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__top {
    padding: 12px 10px;
}
.header__number {
    color: yellow
}

.header__bottom {
    padding: 12px 15px;
    /* font-size: 22px */
}
.header__column {
    width: 33%;
}

.header__column:nth-child(2) {
    text-align: center;
    font-weight: 600;
}

.header__column:last-child {
    text-align: right;
}

