.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: mintcream;
}

.navigation .nav__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    color: gray;
}

.navigation .nav__column.tab {
    color: tomato;
}

.nav__column-title {
    font-size: 12px;
}

